h1 {
  font-size: 43px;
  font-weight: 400;
  font-family: Segoe UI;
  padding-left: 320px;
  padding-top: 70px;
}

.button1 {
  margin-left: 320px;
  margin-top: -15px;
  background-color: #04aa6d;
  color: white;
  width: 100px;
  height: 45px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 553;
  font-family: "Source Sans Pro', sans-serif;";
}

.button1:hover {
  background-color: #1c9c61;
}

.button2 {
  margin-left: 770px;
  margin-top: -15px;
  background-color: #04aa6d;
  color: white;
  width: 100px;
  height: 45px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 553;
  font-family: "Source Sans Pro', sans-serif;";
}

.button2:hover {
  background-color: #1c9c61;
}

.nextobutton1 {
  background-color: #d9eee1;
  width: 1398px;
  height: 250px;
  margin-top: 50px;
}
.para1 {
  padding-left: 320px;
  font-size: 15px;
  padding-top: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buttonp {
  margin-top: 20px;
  background-color: #04aa6d;
  color: white;
  width: 300px;
  height: 45px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 550;
  font-family: "Source Sans Pro', sans-serif;";
}

.buttonp:hover {
  background-color: #1c9c61;
}

.nextobutton2 h1 {
  margin-top: -100px;
  font-size: 32px;
  padding-left: 320px;
  font-family: Segoe UI;
  font-weight: 400;
}

.nextobutton2 p {
  padding-left: 320px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.para2 {
  padding-top: 1px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.nextobutton2 h2 {
  margin-top: 50px;
  font-size: 30px;
  padding-left: 320px;
  font-family: Segoe UI;
  font-weight: 400;
}

.para3 {
  font-size: 15px;
}

.photo {
  background-color: #e7e9eb;
  width: 1040px;
  height: 490px;
  margin-left: 293px;
  border-radius: 5px;
}

.photo h2 {
  padding-top: 20px;
  padding-left: 30px;
  font-size: 25px;
  font-family: Segoe UI;
  font-weight: 400;
  position: relative;
}

.photo img {
  width: 1010px;
  height: 370px;
  padding-bottom: 20px;
  padding-left: 30px;
}

.photo1 {
  margin-left: 30px;
  margin-top: -70px;
  background-color: #04aa6d;
  color: white;
  width: 140px;
  height: 33px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 630;
  font-family: "Source Sans Pro', sans-serif;" f;
}

.photo1:hover {
  background-color: #1c9c61;
}

.whatyoushd h2 {
  margin-top: 100px;
  padding-left: 0px;
  font-family: Segoe UI;
  font-size: 30px;
  font-weight: 400;
}

.whatyoushd {
  padding-left: 310px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: 300;
}

.gjob img {
  width: 970px;
  height: 400px;
}

.button3 {
  margin-left: 310px;
  margin-top: 30px;
  background-color: #04aa6d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  height: 45px;
  font-size: 17px;
  font-weight: 553;
  font-family: Source Sans Pro
      ", sans-serif;
  }

  .button3:hover{
    background-color: #1c9c61;
  }

  .button4{
    margin-left: 794px;
    margin-top: 30px;
    background-color: #04AA6D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: 45px;
    font-size: 17px;
    font-weight: 553;
    font-family: Source Sans Pro",
    sans-serif;
}

.button4:hover {
  background-color: #1c9c61;
}

.buttompic img {
  margin-top: 20px;
  margin-left: 280px;
  width: 1030px;
  height: 220px;
  padding-bottom: 70px;
  padding-left: 30px;
}

main .sidebar-links {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 290px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 90;
  font-size: 20px;
  /* padding-right: 205px; */
  padding-left: 10px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 569px;
  margin-top: 98px;
  background-color: #e7e9eb;
  display: flex;
  flex-direction: column;
}

.sidebar-links a {
  padding: 17px 50px;
  height: 25px;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-family: Segoe UI;
}

.sidebar-links a.active {
  background-color: #04aa6d !important;
  color: #ffffff !important;
}

.sidebar-links a:hover {
  color: black;
  background-color: rgb(212, 211, 211);
}
