/* main styles */

main.contents {
}

.sidebar {
  background-color: #e7e9eb;
  white-space: nowrap;
  position: fixed;
  top: 85px;
  left: 0;
  overflow-y: scroll;
  margin-top: 0;
  width: 300px;
  height: 90%;
  z-index: 100;
}

main.hero-section {
  margin-left: 300px;
}

.sidebar::-webkit-scrollbar {
  display: default;
}
.sidebar-title {
  padding-left: 20px;
}

main .sidebar-links {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sidebar-links a {
  padding: 17px 40px;
  height: 25px;
  display: flex;
  align-items: center;
}

.sidebar-links a:hover {
  color: white;
  background-color: #45464b9a;
}
